@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora&family=Ubuntu:wght@300&display=swap');
*{
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Ubuntu', sans-serif;

}


/*TYPOGRAPHY*/

h1{
    font-family: 'Lora', serif;
    font-weight: 400;
    color:#143774;
    font-size: 2rem;
    margin: 0;
}

.subtitle {
    font-weight: 700;
    color: #1792d3;
    font-size: .75rem;
}

/*Layout*/


header{
    
    background-color: #f8f8f8;
    padding: 2em 0;
}

.container {
    width: 90%;
    max-width: 900px;
    margin: 0 auto;
}
.container-nav {
    display: flex;
    justify-content: space-between;
}


/*nav-link*/
nav ul {
    
    list-style: none;
    display: flex;
    justify-content: center;
}

nav li {
    margin-left: 2em;
}

nav a{
    text-decoration: none;
    color: #707070;
    font-weight: 700;   
}

nav a:hover,
nav a:focus {
    color: #1792d2;
}

.current-page {
    border-bottom: 1px solid #707070;
}

.current-page:hover{
    color: #707070;
}

@media (max-width:675px){
    .container-nav   {
        flex-direction:column;
    }

    header{
        text-align: center;
    }

    nav ul{
        flex-direction: column;
    }
    nav li{
        margin: .5em;
    }
}


