@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Crimson+Text&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Crimson+Text:ital,wght@1,600&display=swap');

:root {
    --clr-text: #5a5a5a;
    --clr-primary: #067e0a;
    --clr-accent: #764981;

    --ff-title:'Abril Fatface', cursive;
    --ff-serif: "Crimson Text" , serif;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html{
    box-sizing: border-box;
    font-family: var(--ff-title);
    color: var(--clr-text);
    font-size: 1.125rem;
}

body{
    margin: 0;
}

img{
    display: block;
    max-width: 100%;
}

/*Typography*/


h1,h2,h3,h4,p{
    margin: 0;
}

h2,
h3 {
    font-family: var(--ff-title);
    line-height: 0.8;
}

h2{
    font-size: 3rem;
    
}

p{
    margin-bottom: .85em;
}

.logo{
    font-family: var(--ff-title);
    text-align: center;
}

.logo a{
    text-decoration: none;
    color: black;
}

/*Navigation*/

header {
    padding: 1em 0 2em;
}

nav ul{
    display: flex;
    list-style: none;
    margin: 0;
    padding: 1em;
    flex-direction: column;
    align-items: center;
    background: violet;
}

nav a{
    display: inline-block;
    padding: 0.5em;
    color: var(--clr-primary);
    text-decoration: none; 
    ;
}

nav a:hover,
nav a:focus{
    color: var(--clr-accent);
    text-decoration: underline;
    
}

/*Buttons*/

/*Homepage styles*/

.hero {
    background-color: #333;
    background-image: url(./images/Hippie-Chick-Monkey.jpeg);
    background-blend-mode: multiply;
    background-attachment: fixed;
    background-size: cover ;
    color: white;
    text-align: center;
    padding: 25vh .3em;
}
